*.log
.DS_Store
.env
.env.backup
.env.production
/vendor/
/node_modules/
/storage/*.key
/public/hot
/public/storage
database/database.sqlite
/.idea
/.vscode
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
